<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit" />

    <title>管理系统</title>

    <link rel="stylesheet" href="/layui/css/layui.css"></link>
    <script src="/layui/layui.js"></script>

</head>
<style>
    body{
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-attachment: fixed;
    }
</style>
<body >
<div class="layui-container" style="height: 100%">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 6%">
        <legend style="margin-left: 40%"><span style="font-weight: bold;font-size:22px;">简单人力资源管理</span></legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo grid-demo-bg1">
                &nbsp;
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="grid-demo">
                <form id="useLogin" class="layui-form" th:action="@{/user/login}">
                    <div class="layui-form-item">
                        <!--admin -- admin alice--123456-->
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input id="username" name="username" lay-verify="required" autocomplete="off" class="layui-input" type="tel"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密&nbsp;&nbsp;码</label>
                        <div class="layui-input-inline">
                            <input id="password" name="password" lay-verify="required" autocomplete="off" class="layui-input" type="password"/>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-top: -20px;">
                        <label class="layui-form-label"></label>
                        <div class="layui-inline">
                            <input type="checkbox" name="rememberMe" lay-skin="primary"  title="记住我"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="reset">重置</button>
                            <button id="loginBtn" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="login">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
    layui.use('form', function(){
        var form = layui.form;
    //登录按钮
    form.on("submit(login)",function(data){

            window.location.href = "/user/login";

        return false;
    })
</script>
</body>
</html>